mixin sidebarItems(link , icon , text)
    li
        a.sidebar-link(href=link + ".html" , class=text == pageName ? "active": " ")
            i(class="fa-fw " + icon)
            span #{text}


mixin switchToggle(check)
    label.switch
        if check
            input.toggle-checkbox(type="checkbox" checked)
        else
            input.toggle-checkbox(type="checkbox")
        .toggle-switch


mixin notification(Type, Content, Time)
    li
        .icon
            if Type.startsWith("fa-")
                i(class=Type)
            else
                img(src=Type, alt="Notification Icon")
        .noti-content
            span #{Content}
            span #{Time}


mixin messages(image , name , content , time)
    li
        .image
            img(src=image)
        .info
            .name #{name}
            .contentMsg #{content}
            .time #{time}


mixin quick-list(ICON , TEXT)
    li
        .quick-icon
            i(class=ICON)
        span.text #{TEXT}


mixin profile-list(link , icon , text)
    li
        a.profile-list-link(href=link + ".html")
            i(class="fa-fw " + icon)
            span #{text}


mixin statisBox(icon , title , number)
    .stats-box
        .icon
            i(class=icon + " fa-fw")
        .info
            span.title #{title}
            span(class="number" data-number=number) 0


mixin task(heading, parag, done)
    .task(class=done == "true" ? "done" : "")
        div
            h4 #{heading}
            p #{parag}
        i.fa-solid.fa-xmark.uncheck-btn
        i.fa-solid.fa-check.check-btn
        i.fa-regular.fa-trash-can.delete-btn